# Bollinger Bands

## Calculating Bollinger Bands
Steps:
  1. Calculate Mean
  2. Calculate STD
  3. Calculate Upper Band (Mean + N*STD)
  4. Calculate Upper Band (Mean + N*STD)

## Yahoo finance
use yahoo_fin api to get ticker data.

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from yahoo_fin.stock_info import get_data
%matplotlib inline

In [20]:
# Setup
IGS = "3293.two"
ticker_list = ["tsla", "nflx", "amzn", IGS]
historical_datas = {}
# date format: mm/dd/yyyy
start_date = "01/01/2020"
end_date = "01/03/2020"
# interval format: "1d", "1wk", "1mo"
interval = "1d"

for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker)

In [21]:
historical_datas["tsla"]

,open,high,low,close,adjclose,volume,ticker
2010-06-29,3.800000,5.000000,3.508000,4.778000,4.778000,93831500,TSLA
2010-06-30,5.158000,6.084000,4.660000,4.766000,4.766000,85935500,TSLA
2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000,TSLA
2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000,TSLA
2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500,TSLA
...,...,...,...,...,...,...,...
2020-10-14,449.779999,465.899994,447.350006,461.299988,461.299988,48045400,TSLA
2020-10-15,450.309998,456.570007,442.500000,448.880005,448.880005,35672400,TSLA
2020-10-16,454.440002,455.950012,438.850006,439.670013,439.670013,32775900,TSLA
2020-10-19,446.239990,447.000000,428.869995,430.829987,430.829987,36287800,TSLA
2020-10-20,431.750000,431.750000,419.049988,421.940002,421.940002,31444700,TSLA

In [22]:
historical_datas[IGS]

,open,high,low,close,adjclose,volume,ticker
2007-12-31,200.031006,200.817993,195.699005,198.848999,106.204880,186661.0,3293.TWO
2008-01-02,198.848999,207.906006,198.848999,199.242996,106.415329,411417.0,3293.TWO
2008-01-03,195.699005,195.699005,191.367996,192.156006,102.630173,215867.0,3293.TWO
2008-01-04,189.399002,193.731003,187.429993,187.824005,100.316467,213327.0,3293.TWO
2008-01-07,177.192993,179.949005,174.830002,174.830002,93.376396,243803.0,3293.TWO
...,...,...,...,...,...,...,...
2020-10-14,770.000000,791.000000,768.000000,768.000000,768.000000,1432000.0,3293.TWO
2020-10-15,772.000000,776.000000,761.000000,767.000000,767.000000,862000.0,3293.TWO
2020-10-16,769.000000,778.000000,759.000000,760.000000,760.000000,943000.0,3293.TWO
2020-10-19,765.000000,770.000000,748.000000,751.000000,751.000000,1112000.0,3293.TWO
2020-10-20,751.000000,765.000000,749.000000,765.000000,765.000000,710000.0,3293.TWO